* {
    box-sizing: border-box;
}
body{
    overflow-y: scroll;
}
.title{
    font-size: 13px;
    color: rgb(143, 143, 143);
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
    font-weight: 200;
    margin-top: 1%;
    margin-left: 9.5%;
    margin-right: 9.5%;
    margin-bottom: 0;
}
.back {
    font-size: 14px;
    margin-left: 50px;
    margin-right: 50px;
    background-color: white;

    text-align: center;
    padding: 10px;
    transition: all 0.5s;
    cursor: pointer;
    text-decoration: none;
} 
.back span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
}
  
.back span:after {
    content: '\00AB';
    position: absolute;
    opacity: 0;
    top: 0;
    right: 90px;
}
.back:hover span {
    padding-left: 20px;
}
.back:hover span:after {
    opacity: 1;
    left: 0;
}
.divider{
    width: 5%;
    margin-top: 15px;
    margin-bottom: 15px;
}
footer, footer a{
    padding: 10px;
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    text-transform: uppercase;
    font-weight: 200;
    font-size: 12px;
    color: rgb(143, 143, 143);
}
.row {
    display: flex;
    flex-wrap: wrap;
    padding: 10px;
    margin-left: 8%;
    margin-right: 8%;
    margin-bottom: 1.2%;
}
.column {
    flex: 33.3%;
    max-width: 33.3%;
}
.column img {
    vertical-align: middle;
    padding: 10px;
    width: 100%;
}
/* Responsive layout */
@media screen and (max-width: 980px) {
    html{
        overflow-y: scroll;
    }
    .title{
        margin-top: 2%;
        margin-left: 13%;
        margin-right: 13%;
    }
    .row {
        padding: 10px;
        margin-left: 10%;
        margin-right: 10%;
    }
    .column {
        flex: 100%;
        max-width: 100%;
    }
    footer, footer a{
        padding: 20px;
    }
}